[Unit]
Description=Bespoke Reality Server - Foley
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=lodomo
WorkingDirectory=/home/lodomo/Foley-Server
ExecStart=/home/lodomo/Foley-Server/launch.sh

[Install]
WantedBy=multi-user.target
